<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>

<!--[if IE 7]>
    <style>
    .getting-started li{overflow:visible;clear:both}.delete{width:690px}
    </style>
<![endif]-->

<div class="container clearfix">
    <div class="main">
        <h1>Distribution Route</h1>

        <table>
            <tr>
                <th>sku</th>
                <th>name</th>
                <th>msrp</th>
                <th>wholesale</th>
                <th>category</th>
                <th>stock</th>
            </tr>

        <% for(var i=0; i<skus.length; i++) {%>
           <tr>
            <td><%= skus[i].sku %></td>
            <td><%= skus[i].name %></td>
            <td><%= skus[i].msrp %></td>
            <td><%= skus[i].wholesale %></td>
            <td><%= skus[i].category %></td>
            <td><%= skus[i].stock %></td>

            </tr>
        <% } %>
        </table>

    </div>

</div>
