<!-- Default home page -->
<link type="text/css" href='/styles/distro.css' rel='stylesheet'/>

<!--[if IE 7]>
    <style>
    .getting-started li{overflow:visible;clear:both}.delete{width:690px}
    </style>
<![endif]-->


    <header>
        <div class="container">
            <h1><a href="/distro">JungleStore</a></h1>
            <span><a href="/distro/logout"> Log out </a></span>
        </div>
    </header>
    <div class="container">
        <div id="mainContent">
            <table>
                <thead>
                    <tr>
                        <th id="sku">Sku</th>
                        <th id="desc">Description</th>
                        <th id="msrp">MSRP</th>
                        <th id="wsp">WSP</th>
                        <th id="cat">Category</th>
                        <th id="photos">Photos</th>
                        <th id="stock">Stock</th>
                    </tr>
                </thead>

                <tbody>
                    <% for(var i=0; i<skus.length; i++) {%>
                       <tr>
                        <td><%= skus[i].sku %></td>
                        <td><%= skus[i].description %></td>
                        <td><%= skus[i].msrp %></td>
                        <td><%= skus[i].wholesale %></td>
                        <td><%= skus[i].category %></td>
                        <td>
                        <b>thumbs</b>:
                            <% for(var j=0; j<skus[i].photos.thumbs.length; j++) {%>
                            <%= skus[i].photos.thumbs[j] %>&nbsp;&nbsp;
                            <% } %>
                        <br>
                        <b>full</b>:
                            <% for(var j=0; j<skus[i].photos.full.length; j++) {%>
                            <%= skus[i].photos.full[j] %>&nbsp;&nbsp;
                            <% } %>
                        </td>
                        <td><%= skus[i].stock %></td>

                        </tr>
                    <% } %>
                </tbody>

            </table>

        </div>
</div>
