<!-- Default home page -->
<link type="text/css" href='/styles/distro.css' rel='stylesheet'/>

<!--[if IE 7]>
    <style>
    .getting-started li{overflow:visible;clear:both}.delete{width:690px}
    </style>
<![endif]-->


    <header>
        <div class="container">
            <h1>JungleStore</h1>
            <span><a href="/distro/logout"> Log out </a></span>
        </div>
    </header>
    <div class="container">
        <div id="mainContent">
            <table>
                <thead>
                    <tr>
                        <th>sku</th>
                        <th>name</th>
                        <th>msrp</th>
                        <th>wholesale</th>
                        <th>category</th>
                        <th>stock</th>
                    </tr>
                </thead>

                <tbody>
                    <% for(var i=0; i<skus.length; i++) {%>
                       <tr>
                        <td><%= skus[i].sku %></td>
                        <td><%= skus[i].name %></td>
                        <td><%= skus[i].msrp %></td>
                        <td><%= skus[i].wholesale %></td>
                        <td><%= skus[i].category %></td>
                        <td><%= skus[i].stock %></td>

                        </tr>
                    <% } %>
                </tbody>

            </table>

        </div>
</div>
