<!-- Default home page -->
<link type="text/css" href='/styles/affiliate1style.css' rel='stylesheet'/>

<!--[if IE 7]>
    <style>
    .getting-started li{overflow:visible;clear:both}.delete{width:690px}
    </style>
<![endif]-->


<div class="container clearfix">
    <div class="main">

        <h1>Affiliate 1</h1>
        <% include nav %>


        <% for(var i=0; i<details.length; i++) {%>
           <p>

                store price: <%= prices[i].price %><br>

                sku: <%= details[i].sku %><br>
                product: <%= details[i].name %><br>
                msrp: <%= details[i].msrp %><br>
                wholesale: <%= details[i].wholesale %><br>
                category: <%= details[i].category %><br>
                stock: <%= details[i].stock %><br>
                <% for(var j=0; j<details[i].photos.length; j++) {%>
                   <img src="/images/<%= details[i].photos[j] %>">
                <% } %>




            </p>

        <% } %>




    </div>

</div>
