<!-- Default home page -->
<link type="text/css" href='/styles/affiliate2style.css' rel='stylesheet'/>

<!--[if IE 7]>
    <style>
    .getting-started li{overflow:visible;clear:both}.delete{width:690px}
    </style>
<![endif]-->


<div class="container">

        <% include header2 %>
        <% include nav %>


<div>
    <h3>Your Cart</h3>
    <ul id="shoppingCart">
        <% for(var i=0; i<cart.length; i++) {%>

            <li data-sku="<%= cart[i].sku %>" data-price="<%= cart[i].price %>" data-name="<%= cart[i].name %>">
                <!-- <a href="/affiliate1/product/<%= cart[i].sku %>"></a> -->
                <div class="cartInfo">
                    Qty: <input type='text' name="qty" value="<%= cart[i].qty %>"/><br>
                    Item Total: <span name="total">$<span class="itemTotal"><%= cart[i].total %></span></span>
                </div>
                <div class="cartActions">
                    <button class="updateItem">Update</button><br>
                    <button class="deleteItem">Remove</button>
                </div>


                <span name="itemName"><%= cart[i].name %></span><br>
                <span name="price">Our price: $<%= cart[i].price %></span>



            </li>



        <% } %>
    </ul>
</div>

<p>Total: $<span id="cartTotal"><%= total.total %></span></p>
</div>



<script type="text/javascript" src="/js/Affiliate2.js"></script>
