<!-- Default home page -->
<link type="text/css" href='/styles/affiliate2style.css' rel='stylesheet'/>

<!--[if IE 7]>
    <style>
    .getting-started li{overflow:visible;clear:both}.delete{width:690px}
    </style>
<![endif]-->


<div class="container">

    <% include header2 %>
    <% include nav %>

<% if (catPage.category) { %>
    <h2><%= catPage.category %></h2>
<% } %>


        <% for(var i=0; i<details.length; i++) {%>
        <div class="product">
            <div data-sku="<%= details[i].sku %>" data-price="<%= prices[i].price %>" data-name="<%= details[i].name %>">
                 <a href="/affiliate2/product/<%= details[i].sku %>"><img src="/images/<%= details[i].photos.thumbs[0] %>" class="productImage"></a>
                 <p name="itemName" class="itemname"><%= details[i].name %></p>
                 <p><span>msrp:</span> <span class="strikethrough right">$<%= details[i].msrp %></span></p>
                 <p><span>Our price:</span> <span name="price" class="right">$<%= prices[i].price %></span></p>

                 <!-- <p>Whole Sale: </p><p><%= details[i].wholesale %></p> -->
                 <!-- <p>Category: </p><p><%= details[i].category %></p> -->
                 <!-- <p></p><p><%= details[i].stock %></p> -->
                 <!-- <% for(var j=0; j<details[i].photos.length; j++) {%>
                    <img src="/images/<%= details[i].photos[j] %>">
                 <% } %> -->

                 <!-- <p>SKU: </p><p name="sku"></p> -->
                 <button class="addToCart right">Add To Cart</button>

            </div>
        </div>


        <% } %>
</div>


<script type="text/javascript" src="/js/Affiliate2.js"></script>
