<!-- Default home page -->
<link type="text/css" href='/styles/affiliate2style.css' rel='stylesheet'/>

<!--[if IE 7]>
    <style>
    .getting-started li{overflow:visible;clear:both}.delete{width:690px}
    </style>
<![endif]-->


<div class="container">

        <% include header2 %>
        <% include nav %>

<div>
    <span class="breadcrumbs"> &gt;
        <a href="/affiliate2/<%= details.category %>"> <%= details.category %></a> &gt;
        <%= details.name %>
    </span>

    <form data-sku="<%= details.sku %>" data-price="<%= prices.price %>" data-name="<%= details.name %>">

        <h3><%= details.name %></h3>
         <a href="/images/<%= details.photos.full[0] %>" data-lightbox="productImages"><img src="/images/<%= details.photos.full[0] %>"></a>
        <p><%= details.description %></p>

         <p>msrp: <span class="strikethrough right">$<%= details.msrp %></span></p>
         <p>Our price: <span name="price" class="right">$<%= prices.price %></span></p>

           <!-- category: <%= details.category %><br> -->
            <%= details.stock %> in stock<br>
            <button type="submit" class="addToCart right">Add To Cart</button>

        <p class="otherImages">
            <% for(var j=0; j<details.photos.thumbs.length; j++) {%>
            <a href="/images/<%= details.photos.full[j] %>" data-lightbox="productImages"><img src="/images/<%= details.photos.thumbs[j] %>"></a>

            <% } %>
        </p>


    </form>
</div>


</div>


<script type="text/javascript" src="/js/Affiliate2.js"></script>
